<ion-view view-title="Week #{{week.number}}">

    <ion-content>
        <div class="list">
            <div class="item list card" ng-repeat="week in weeks">

                <div class="item item-icon-left">
                    <i class="icon ion-cube assertive"></i>

                    <h2>{{week.title}}</h2>

                    <p>week #{{week.number}}</p>
                </div>

                <div class="item item-body">
                    <img class="full-image" src="img/weeks/{{week.image}}" alt="{{week.title}}">

                    <p> {{week.quote}} </p>

                    <p>
                        <a href="#" class="subdued">{{week.size}}</a>
                        <a href="#" class="subdued">{{week.weight}}</a>
                    </p>
                </div>

            </div>
        </div>

    </ion-content>

</ion-view>
