<ion-view view-title="bbsizr">

    <ion-content>
        <div class="list">
            <div class="item list card" ng-repeat="week in weeks">

                <div class="item item-avatar">
                    <img src="{{week.avatar}}"/>

                    <h2>{{week.title}}</h2>

                    <p>week #{{week.number}}</p>
                </div>

                <div class="item item-body">
                    <img class="full-image" src="{{week.image}}" alt="{{week.title}}">

                    <p>{{week.quote}}</p>

                    <p>
                        <a href="#" class="subdued">{{week.size}}</a>
                        <a href="#" class="subdued">{{week.weight}}</a>
                    </p>
                </div>

            </div>
        </div>

    </ion-content>

</ion-view>
