<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <link href="css/ionic.app.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/Faker/build/build/faker.min.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/data.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/utils.js"></script>

    <script src="lib/ionic-datepicker/dist/ionic-datepicker.bundle.min.js"></script>

    <script src="js/ionic.swipecards.js"></script>
    <link href="css/ionic.swipecards.css" rel="stylesheet">
</head>
<body ng-app="babysizr" no-scroll>

<ion-pane ng-controller="CardController" ng-style="{'background-color': bg}">
    <ion-header-bar class="bar-transparent">
        <h1 class="title"><img src="img/logo.png" class="button button-clear"/>babysizr</h1>
        <button class="button button-clear" ng-click="openConfig()">
            <i class="icon ion-gear-a light"></i>
        </button>
    </ion-header-bar>

    <swipe-cards ng-if="currentWeek >= 0">
        <swipe-card ng-repeat="card in cards" on-card-swipe-up="cardSwipedUp()" on-card-swipe-down="cardSwipedDown()"
                    on-destroy="cardDestroyed($index)">
            <div>
                <div class="title" ng-style="{'color': bg}">
                    <span ng-style="{'background-color': bg}">{{card.number}}</span>{{::card.title}}
                </div>
                <div class="image">
                    <img ng-src="img/weeks/{{::card.number}}.png">
                </div>
                <div class="body">
                    <span>{{::card.quote}}</span>
                </div>
                <div class="footer">
                    <span ng-show="card.sizeFrom">{{::card.sizeFrom}}-</span>{{::card.sizeTo}} mm
                </div>
            </div>
        </swipe-card>
    </swipe-cards>
</ion-pane>
</body>
</html>
